@model ProductViewModel

@{
    Layout = "_Layout";
}
<div class="container" style="margin-top:3%">
    <div class="row">
        @foreach (var product in Model.products)
        {
            <partial name="_product" for="@product" />
        }
    </div>
</div>






